

* text=auto

*.cs        text diff=csharp
*.axaml     text
*.csproj    text
*.slnx      text
*.props     text
*.md        text
*.txt       text
*.html      text
*.resx      text
*.json      text
*.py        text
*.swift     text
*.manifest  text

*.ps1       text

*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary
*.zip   binary
*.dll   binary
*.exe   binary
*.pdb   binary
*.db    binary
